@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700');

body {
  background-color: #f9f9f9;
  font-family: 'Ubuntu', sans-serif;
}

.active {
	background-color: lightgrey;
}

/* highlights the selected page in the navbar */
.active-page {
	background-color: #d3f2fd;
}

.asterisk {
  font-size: 16px;
}

.stronger {
  font-size: 18px;
  color: darkgrey;
}

/* specific for Git cheat sheet table */
.table-condensed, .table-sm {
	font-size: 11px;
}

.table-hide {
  border-collapse: separate; /*default of collapse overwrites the empty-cells*/
  empty-cells: hide;
}

.table-hide th, .table-hide td {
  border-radius: 5px;
}

.cell-lineBreak {
  white-space: pre-line;
}

/*
by default the border property adds a border around the table and fills in bottom of each cell
setting a value of 0px removes the border around the table but keeps the bottom cell border
not using the .table-bordered class removes border from table and border from bottom of cells
*/
.table-bordered {
  border: 0px solid #ddd;
}
/* end specific for Git cheat sheet table */

.image {
  border-radius: 15px; /* add a bit of style to the images */
  box-shadow: 5px 5px 10px #aaa;
  float: left; /* allow text to wrap around the image on the loremZombie.html and index.html pages */
  height: 100px;
  margin-right: 10px;
  vertical-align: top;
}

/* increase Bootstrap 3.3.7 default font size */
.fontGrow {
  font-size: 16px;
}

th {
  text-align: center;
}

/* center text in the table on the bs337Grid.html page */
.is-hidden {
  text-align: center;
}

.is-visible {
  background-color: #dff0d8;
  color: #468847;
  text-align: center;
}

h3 {
  color: cornflowerblue;
}

pre {
  background-color: #f7f7f7;
  border-radius: 4px;
  display: block;
  font-family: monospace;
  margin: 10px;
  width: 68vw;
}
